@charset "utf-8";
/* CSS Document */

/*---Global---*/
*{margin:0;padding:0}

html,div,p,ul,li,table,body{
		font:100 12px/24px  Tahoma, Geneva, sans-serif;
		color:#000;/*#62B996#58B46C #6FB165 #9AD079#CC0#F9FFEA #456156*/
		font-family:Arial,sans-serif;  
		font-size:13px;  
	}

	
body{
	margin:0 auto;
	background-color:#FFFFFF; 
	text-align:center;  
	margin-top:3px;  
	overflow-x:hidden;
	/*// #EBEBEB;width:1000px; 
	background-image: url(images/72288-1.png);
	background-repeat: repeat;*/
	}

img{border:0}
/*img{background:url(images/Imagesload.gif) no-repeat 50% 50%;border:0}*/

a:visited{text-decoration:none; color:#F63;}
a:hover{text-decoration:underline; color:#F60; font-weight:600; position:relative; top:1px; cursor:pointer;}


	
input{
		height:22px;  /* SHOULD ASSIGN THE SUBMIT BUTTON HIGHT style="height:32px;"  */
		padding:0px 6px;
		font:normal 12px/18px Tahoma, Geneva, sans-serif; 
		border:1px solid #9CF; /* #cccccc; */
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; 
		background-color:#FFF;
	}
	
select{
		height:22px;padding:0px 0px;
		font:normal 12px/18px Tahoma, Geneva, sans-serif; 
		border:1px solid #9CF; /* #cccccc; */
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; 
		background-color:#FFF;
	}

textarea{
		padding:0px 8px;
		font:normal 12px/18px Tahoma, Geneva, sans-serif; 
		border:1px solid #9CF; /* #cccccc; */
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; 
		background-color:#FFF;
	}
	
.RdPDM_Button{
	font:600 12px/24px Tahoma, Geneva, sans-serif; color:#FFFFFF;
	padding: 2px 5px 3px 5px;
	/* background:url(overlay.png) repeat-x center #a7dd32; */
	background-color:rgba(91,173,255,1);
	border:1px solid #aaa;
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
	border-bottom:1px solid #aaa;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	cursor:pointer;
}
.RdPDM_Button:hover{background-color:rgba(91,173,255,0.6); color:#F60; cursor:pointer;}
.RdPDM_Button:active{position:relative;top:2px;}

.RdPDM_Button_Small{ 
	font:100 12px/18px Tahoma, Geneva, sans-serif; color:#FFFFFF;
	padding: 1px 5px 2px 5px;
	/* background:url(overlay.png) repeat-x center #a7dd32; */
	background-color:rgba(91,173,255,1);
	border:1px solid #aaa;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	border-bottom:1px solid #aaa;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	cursor:pointer;
}
.RdPDM_Button_Small:hover{background-color:rgba(91,173,255,0.6); color:#F60; cursor:pointer;}
.RdPDM_Button_Small:active{position:relative;top:1px;}


	
	
h5{ 
	/*layout-flow:vertical-ideographic;
	layout-flow:horizontal; */
	width: 12px; 
	font-size: 12px; 
	word-wrap: break-word; 
	letter-spacing: 3px;
	}
	

	
.Main_Left{
	position: absolute;	
	bottom:0px;
	left: 0;
	}	
	



.RdPDM_Task_iCon{ 
	font:100 10px/11px Tahoma, Geneva, sans-serif; color:#FFFFFF;
	padding: 1px 3px 2px 3px;
	text-align:center;
	/* background:url(overlay.png) repeat-x center #a7dd32; */
	background-color:rgba(91,173,255,1);
	border:1px solid #aaa;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	border-bottom:1px solid #aaa;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	cursor:pointer;
}
	