@charset "utf-8";
/* CSS Document for Myra Train */

/*---Global---*/
/*{margin:0;padding:0}*/

#Container {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#E5E5E5;
	z-index:1;	
	}
	
/*-------------------------Program #1 Index.php (Company website V2.0)----------------------------------------*/
	
#Web_Navigation {
	width:100%; 
	height:96px; 
	background-color:white;
	vertical-align:middle; /*bottom*/
}

#Web_RDQCC_Logo {
	text-align:center;
	vertical-align:middle;
	width:150px; 
}


#Web_Navigation_MainMenu {	 
	width:700px; 
	min-width:500px; 
	vertical-align:middle; 
	padding-left:50px;
	overflow-x:hidden;
}


.Web_Menu_Button {
	font-size:20px; 
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	margin-left: 20px;
	color:#333;
}


#Toggle_Login {
	width: 250px;
	vertical-align:middle;
	padding-bottom: 25px;
	text-align: right;
}

#loginDiv {
	width: 182px;
	margin-left:2em;
	font-size:16px; 
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	text-align:left;
	position:absolute;   /*ensure the login has no move when clicked on */
	/*right: 80px;
	top: 12px;*/
	z-index: 100;
	border: 1px solid navy;
}


 /* for toggle "Login" which is clicked on to display/remove the form */
#login {
	margin: 0;
	cursor: pointer;	
	background-color: rgb(255,255,255);
	padding:5px 0 2px 30px;
	vertical-align: middle;
}

#login:hover{
	background-color: rgb(110,138,195);	
}


 /*  plus sign icon for login form */
.plus {
background: url(Images/img_open.png) no-repeat 8px 7px;
background-color: rgb(110,138,195);	
}

 /* minus sign icon for login form */
.minus {
background: url(Images/img_close.png) no-repeat 8px 7px;
}


/*form is hidden when the page loads */
#loginDiv form {
/*padding: 10px 10px 10px 10px;*/	
text-align: center;
display: none;							/*--none--*/
background-color: rgb(255,255,255);
padding-bottom: 4px;	
}

#loginDiv label {
display: block;
width: 100px;
font-size: 16px;
margin-left: 15px;
}

#loginDiv input {
width: 150px;
font-size: 16px;
border: 1px solid navy;
}

#loginDiv input:focus {					/*--clicked on---*/
background-color: rgb(110,138,195);
width:100px;
font-size:14px;
border: 2px solid navy;
}

#loginDiv input[type=submit] {
width: 100px;
font-size:14px;
margin-left:15px;
}


#Web_MainContent {
	width: 1400px;
	height: 730px;
	min-width: 800px;
	background: white;  /*#c3c3c3;*/
	border-top: 1px solid #e4e4e4;
}
	
#Web_workingArea {
	width: 1000px;
	min-width: 800px;
	/*min-height: 600px;*/
	/*padding-top: 20px;*/
}

.Web_Head1 {	
	font-size:18px;
	color:#06BEC7;
	line-height:20px; 
	text-align:left; 
	font-family:museo-sans,Helvetica, Arial, Verdana, sans-serif;
	}

.Web_Text1 {
	font-size:16px; 
	color:#333333; 
	line-height: 1.4; 
	text-align:left; 
	font-family:museo-sans,Helvetica, Arial, Verdana, sans-serif;
}

.Web_HeadTestimonial {	
	font-size:18px; 
	color:#06BEC7; 
	line-height:1.4; 
	text-align:left; 
	font-family:museo-sans,Helvetica, Arial, Verdana, sans-serif;	
	font-style: italic;	
}


.Web_TextTestimonial {
	text-align:right;	
	line-height: 0.3;
	font-size:16px; 
	color:#333333; 
	/*line-height: 1.4; */	
	font-family:museo-sans,Helvetica, Arial, Verdana, sans-serif;	
}

.Web_ParaSpace {
line-height: 0.5;	
}

#Web_LeftArea {
	float:left; 
	width:250px;
}

#Web_LeftArea ul {
	/*--width:100%;*/
	font-size:16px;
	margin-top:20px;
	/*margin:0 0 0 30px;*/
}

#Web_LeftArea ul li {
	width:200px;
	/*list-style-type:none;*/
	border:none; 
	/*border-color:#ccc;*/
	margin-top:10px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:left;
}

#Web_LeftArea ul li a {
	font-family:museo-sans,Helvetica, Arial, Verdana, sans-serif;
	font-size:16px;
	color:#F48022;
	text-decoration:none;
	/*padding:3px 10px;*/
}

.Web_Photo {
    float: left;
   padding: 0 20px 0 0;
}

.Web_Photo img {
    display: block;
	height: 180px;
    /*width:250px;*/
    /*border: solid 5px #069;*/
    align-self: center;
}

.Web_EventPhoto {
	float: left;
   padding: 0 20px 0 0;
}

.Web_EventPhoto img {
    display: block;
	/*height: 180px;*/
    width:250px;
    /*border: solid 5px #069;*/
    align-self: center;
}

#Contact_NewInquires {
	width: 350px;
	border:0;
	line-height:30px;
	font-family: museo-sans,Helvetica, Arial, Verdana, sans-serif; 
	font-size:14px; 
	/*text-indent:5px; */
	background-color:#EAF2FF; 
	border:solid #15B4FF 1px;
}

.Contact_InquiresTitle {
	text-indent:1em; 
	/*font-weight:500; */
	color:#0819A2;
}

.Contact_InquiresTitleTd {
	text-align:left; 
	vertical-align: middle;
}

	
.Contact_NewInquires_Bottom {
	align: center;
	width: 350px;
	background-color:#EAF2FF; 
	border:none;    /*--#15B4FF--*/
}
	
#Bottom_Bar {
	width:100%; 
	background-color:#E5E5E5;
	vertical-align:bottom;
	min-width: 980px;
	height:29px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	text-align: center;
	}
	
.Footer_Words {
	font-size:16px;
	color:black;
	}



/*------------------Program #2 Home.php  ( home menu and navigation screen)--------------------------------*/


/*-------------------------Program #3 Roadmap.php (quality) & Project_Roadmap.php (project)----------------------------*/	
#Roadmap_Container {
	position: absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:1315px;
	background-color:#fff;
	}
	
#Roadmap_HeadTable {
	text-align:center;	/*center*/
	/*table-layout:fixed;*/
	width:1315px;
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:18px; 
	/*text-indent:5px;*/
	/*margin-top:0.1em;	*/
	/*margin-right:30px;*/			
}

#HeadTable_FirstBlank {
	width:100%;
	line-height:12px; 
	margin-right:30px;
}

#Roadmap_HeadTable_Log {
	width:60%;	
	color:#069; 
	font-size:24px;
	text-indent:0.7em; 
	text-align:left;
	vertical-align:bottom;
}

#Roadmap_HeadTable_Image {
	width:32px;
	height:32px;
	vertical-align:text-bottom;
}

#Roadmap_HeadTable_Type {
	font-weight:600; 
	color:#09F;
}

#Roadmap_4MajorPhaseTable {	
	width:1315px;
	line-height:26px;
	margin-top:1.0em;			/* this is used to raise the brown delimiter over to title bar*/
}	

#Roadmap_4MajorPhaseTable_FirstColumn {
	width:3%;
}

#Roadmap_4MajorPhaseTable_ImagesColumn {
	width:97%;
}

Roadmap_4MajorPhaseTable_Images {
	height:26.2px;
}


#Roadmap_TaskTables {
	text-align:center;
	width:1315px;
	border:0;
	padding:0;
	border-spacing:0;
	border:solid #15B4FF 1px; 
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:12px; 
	line-height:26px; 
	text-indent:5px;
	margin-top:0.1em;
}

#Roadmap_TaskTables_ShadeLine_FirstColumn {
	line-height:1px; 
	width:4%;
}

#Roadmap_TaskTables_ShadeLine_ImageColumns {
	line-height:1px; 
	width:6.2%;
	background-color:#CCFFCC;
}

#Row_15PhasesTitle_FirstColumn {
	border-bottom:solid #C0C0C0 1px; 
	border-right:solid #C0C0C0 1px;
}

#Row_15PhasesTitle_LastColumn {
	text-indent:0.1em;				/* move image to left */
	border-bottom:solid #C0C0C0 1px;
}

#Row_15PhasesTitle_CenterColumns {
	text-indent:0.1em;
	border-bottom:solid #C0C0C0 1px; 
	border-right:solid #C0C0C0 1px;
}

#Roadmap_TaskTables_TeamCell {
	text-indent:0em; 
	font-size:10px; 
	font-weight:600; 
	border-bottom:solid #C0C0C0 1px; 
	border-right:solid #C0C0C0 1px; 
	background-color:#F7F7F7;
}

#Roadmap_TaskTables_TeamImage {
	width:36px;					/*original width="28" to zoom team title*/
	vertical-align:bottom;
}

#Task_Block {					/*Task_Block: control cell attributes */
	vertical-align:top; 							/* control task blocks align at the top (before at center) */
	Margin-top:1px;
	Margin-bottom:1px;
	text-indent:0.1em;
	font-weight:600; 
	border-right:solid #C0C0C0 1px; 				/* draw borders of cell */
	border-bottom:solid #C0C0C0 1px; 
}

.Task_Individual {				
	text-align:center;
	vertical-align:middle;
	font-size:12px;
	border:1px solid #499B33;
	/*background:#fafafa;*/
	color:#444;
	width:60px;
	height:16px; 		/* ensure height > font-size*/
	padding-bottom:6px;
	margin-top:2px;
	margin-bottom:2px;
	cursor:default;
}
a:visited{text-decoration:none; color:#F63;}
a:hover{text-decoration:underline; color:#F60; font-weight:600; position:relative; top:1px; cursor:pointer;}


#Button_ExitRoadmap, #Button_Dependency_Demo, #GDP_Types { 
	display:block;
	float:right;
	margin-top:16px;
	margin-right:15px;
	height:20px;
	font-size:14px;
	text-align:center;
	font-family: Tahoma, Geneva, sans-serif; 
	vertical-align:middle;
	color:#FFFFFF;
	padding: 1px 5px 2px 5px;
	background-color:rgba(91,173,255,1);
	border:1px solid #aaa;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	border-bottom:1px solid #aaa;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); 	
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	cursor:pointer;
}

#PDP_Type_Title {
	margin-top:16px;
	margin-right:1px;
	vertical-align:middle;
	text-align:center;
}
/*
#Button_GeneratePDF { 
	display:block;
	float:right;
	margin-top:16px;
	margin-right:15px;
	height:22px;
	width:114px;
	font-size:14px;

	font-family: Tahoma, Geneva, sans-serif; 
	vertical-align:middle;
	text-align:right;
	color:black;
	background-color:white;
	border:1px solid #aaa;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	border-bottom:1px solid #aaa;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); 	
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	cursor:pointer;
}*/

#Foot_Table {
	width:1315px;
	font-family: Tahoma, Geneva, sans-serif; 
}


.PopUP_BG{ 
	display: none; 
	position: absolute; 
	top: 0%; 
	left: 0%; 
	width: 100%; 
	height: 4096px;/*100%; */
	background-color: black; 
	z-index:1001; 
	-moz-opacity: 0.8; 
	opacity:.80; 
	filter: alpha(opacity=80); 
} 

.PopUP_DW{
	display:none;
	z-index:1002;
	top:50%;
	left:50%;
	width:1010px;
	height:560px;
	margin-left:-500px!important;/*FF IE7 half of width */
	margin-top:-280px!important;/*FF IE7 half of height */
	margin-top:0px;
	background-color: white; 
	border: 5px solid #DDEEF6;
	position:fixed!important;/* FF IE7*/
	position:absolute;/*IE6*/
	_top:       expression(eval(document.compatMode &&
				document.compatMode=='CSS1Compat') ?
				documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
				document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}

.Task_PopUP_BG{ 
	display: none; 
	position: absolute; 
	top: 0%; 
	left: 0%; 
	width: 100%; 
	height: 4096px;/*100%; */
	background-color:black; 
	z-index:1001; 
	-moz-opacity: 0.5; 
	opacity:.50; 
	filter: alpha(opacity=50); 
} 

.Task_PopUP_DW{
	display:none;
	z-index:1002;
	top:50%;
	left:50%;
	width:810px;
	height:560px;
	margin-left:-400px!important;/*FF IE7 half of width */
	margin-top:-280px!important;/*FF IE7 half of height */
	margin-top:0px;
	background-color:#FAFAFA; 
	border: 5px solid #DDEEF6;
	position:fixed!important;/* FF IE7*/
	position:absolute;/*IE6*/
	_top:       expression(eval(document.compatMode &&
				document.compatMode=='CSS1Compat') ?
				documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
				document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}

#Task_POP_Grey{						/*a grey zone on top of task pop up window */
	width:100%; 
	height:28px; 
	background-color:#EBF2F5;
	font-family:Tahoma, Geneva, sans-serif; 
	margin-top:3px;
}
#Task_POP_CloseSign{
	width:240px; 
	float:right; 
	color:#09C; 
	font-size:12px; 
	font-weight:600; 
	text-align:right;
}
	/*--for version 2.0 Myratrain------*/
.Select_ButtonSpace{	
	text-align:right; 
	background-color:#FFF; 
	width:95%;
}
.Select_ButtonTitle{
	text-align:right; 
	font-weight:200; 
	font-size:16px; 
	color:blue;
}

/* below is for popup search that shows the text "Search" which is clicked on to display/remove the form */
#Popup_Hint {
	 width: 150px;
	 position:absolute;
	 right: 5px;
	 top: 5px;
	  z-index: 100;
	 border: 1px solid navy;
	 text-align:left;
}

#Popup_Search {
	 width: 150px;
	 position:absolute;
	 right: 180px;
	 top: 5px;
	  z-index: 100;
	 /*border: 1px solid navy;*/
	 text-align:left;
	 margin-right:50px;
	 background-color: rgb(255,255,255);
	 /* position:relative;*/
}

#ProjectRoadmap_HintTitle {
	margin: 0;
	cursor: pointer;
	background-color: rgb(255,255,255);
	padding: 1px 0 1px 25px;				/* left:2px is too short and hide the plus/minus signs*/
	font-size:13px;
	font-family:Arial,sans-serif; 
}

#ProjectRoadmap_HintTitle:hover{
	background-color:#97FFB1; /* rgb(110,138,195);	*/
	font-weight:600;
	font-family:Arial,sans-serif; 
}


 /*  plus sign icon for login form */
.plus {
	background: url(../Images/img_open.png) no-repeat 1px 1px; /*8px 7px*/
	background-color: rgb(110,138,195);	
}

 /* minus sign icon for login form */
.minus {
	background: url(../Images/img_close.png) no-repeat 1px 1px;
	background-color:#97FFB1;
}


/*form is hidden when the page loads */
#Popup_Hint form {
	        /*padding: 10px 10px 10px 10px;       	
			background-color: rgb(255,255,255);						/*--none--*/
			background-color:#F7FEFD; 
			overflow:auto;
			display:none;
}

#ProjectRoadmap_HintContent {
	/*line-height:130%; */
	padding-left:3px;
	font-size:12px;
}

/*-------Program #4 PopUp_TaskWindow.php (pop up window when clicked on task block at roadmap environment)----------*/	

#Task_PopUp_Window{
	align:center;
	margin-left:0px; 
	margin-top:12px; 
	width:100%; 
	height:auto;    								 /*--224=left Column width--*/
}

#PopUp_Window_Head{
    float:left; 
	margin-left:1.5em;	
}

.PopUp_Window_Head_Image{
	width:64px;
	height:64px;
	border:none; 
	vertical-align: middle;			
}

.PopUp_Window_Head_Title{
	font-size:14px; 
	font-weight:600; 
	color:#09F; 
	margin-left:0.7em;		
}

#PopUp_Window_Owner{
	float:right; 
	margin-right:1.5em; 
	padding-top:40px;	
}

.PopUp_Window_Owner_Title{
	font-size:12px; 
	font-weight:500; 
	color:#066; 
	margin-right:0.5em;
}

#PopUp_Window_DataArea_Layout{
	float:center;									/*--create the outside frame--*/
	clear:both;
	margin-top:12px; 		
	width:774px;											
	border:solid #15B4FF 1px; 
}
	

#PopUp_Window_DataArea_Table{							/*---create the inner frame--*/
	align:center;
	width:770px;
	margin-left:2px;
	margin-right:2px;										/*--create frame--*/
	margin-bottom:2px;										/*--create frame--*/
	margin-top:2px;
	cellpadding:0;
	cellspacing:0;
	border:solid #15B4FF 1px; 
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:12px; color:#069; 
	text-indent:6px; 
}
	
.PopUp_Window_DataArea_Title_BG{
	color:#066; 
	line-height:26px;  
	border-bottom:solid #C0C0C0 1px; 
	border-top: solid #C0C0C0 1px;		/*--new added for pop-projecttask.php---*/
	background-color:#EAFEFF;  	
}

.PopUp_Window_DataArea_Title{
	font-size:14px; 
	color:#066; 
	border-bottom: solid #C0C0C0 1px; 
	border-top: solid #C0C0C0 1px;		/*--new added for pop-projecttask.php---*/
	text-indent:1em;	
}

.PopUp_Window_DataArea_Content{
	color:#066; 
	border-right:solid #C0C0C0 1px; 
	border-bottom: solid #C0C0C0 1px; 
	text-indent:1em;	
}


/*-------------------Program #5 User_Management.php--------------------------------------------*/

#UserList_Page {
	align:center;
	margin-left:0px; 
	margin-top:32px; 			/*224=left Column width*/
	width:100%;
}							

#UserList_Table1, #UserList_Table2 {
	align:center;
	border:0px;
	/*cellpadding:0px;
	cellspacing:0px;*/
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:12px; 
	text-indent:5px;
	width:1024px;
}
	
#UserList_Table1_Title1, #NewUser_Table1_Title1  {
	font-size:14px; 
	color:#069; 
	text-indent:0.7em;
}

#UserList_Table1_Title2, #NewUser_Table1_Title2 {
	height:24px;
	padding-top:2px; 
	float:right; 
	cursor:hand;
}
	
.MyraTrain_Button_Small{ 
	font:100 12px/18px Tahoma, Geneva, sans-serif; color:#FFFFFF;
	padding: 1px 5px 2px 5px;
	/* background:url(overlay.png) repeat-x center #a7dd32; */
	background-color:rgba(91,173,255,1);
	border:1px solid #aaa;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	border-bottom:1px solid #aaa;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5); box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	cursor:pointer;
}
.MyraTrain_Button_Small:hover{background-color:rgba(91,173,255,0.6); color:#F60; cursor:pointer;}
.MyraTrain_Button_Small:active{position:relative;top:1px;}

#UserList_NewUser_Button {
	height:24px; 
	width:86px; 
	background-color:#EAF2EE; 
	color:#666; 
	padding-bottom:2px;
}

#NewUser_BackUserLists_Button {
	height:24px; 
	
	background-color:#EAF2EE; 
	color:#666; 
	padding-bottom:2px;	
}

#UserList_Table2_Title {
	color:#066; 
	line-height:28px; 
	/*--background: url(images/tr_b.png) repeat-x;*/ 
	border-top:solid #C0C0C0 1px;  
}

.UserList_Table2_TitleS {
	font-size:14px; 
	border-right:solid #C0C0C0 1px;
	border-bottom:solid #C0C0C0 1px;
}

.UserList_Table2_FooterPage {
	hight:24px; 
	float:left; 
	padding-left:0.7em; 
	padding-top:4px; 
	color:#09c; 
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:10px; 
	font-weight:600;
}

.UserList_Table2_FooterWith {
	width:500px; 
	hight:20px; 
	float:right; 
	margin-right:2em;  
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:11px;
}

.UserList_Table2_FooterIcon {
	float:right; 
	padding-top:4px;
}

.UserList_Table2_FooterGoto {
	float:right; 
	margin-right:2em; 
	color:#09c; 
	padding-top:2px; 
	font-size:10px; 
	font-weight:600;
}
.UserList_Table2_IconSize {
	width:18px;
	height:18px;
	align:absbottom;
}
.UserList_Table2_Bottom {
	height:4px; 
	width:100%; 
	line-height:0; 
	font-size:0;  
	padding:0; 
	clear:both;
}


.UserList_Table2_UserID2 {
	font-weight:500; 
	color:#06F; 
	text-decoration:underline;
}

/*-----------------------------------Program #6 Add_User.php------------------------------------*/

#AddUser_WebPage {
	align: center;
	margin-left:0px; 
	margin-top:32px; 
	width:100%;
}

#NewUser_Table1 {
	border:0px;
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:12px; 
	text-indent:5px;
}

#NewUser_Table2 {
	align: center;
	width: 1024px;
	border:0;
	cellpadding:0;
	cellspacing:0;
	line-height:26px;
	font-family: Tahoma, Geneva, sans-serif; 
	font-size:12px; 
	text-indent:5px; 
	background-color:#EAF2FF; 
	border:solid #15B4FF 1px;
}

.NewUser_Table2_DecorationLine {
	line-height:3px; 
	background-color:#EAF2FF;
}

.NewUser_Table2_InputTitle {
	text-indent:1em; 
	font-weight:500; 
	color:#066;
}

.NewUser_Table2_Bottom {
	align: center;
	width: 1024px;
	background-color:#EAF2FF; 
	border:none;    /*--#15B4FF--*/
}

/*-----------------------------------Program #7 Add_Feedbacks.php------------------------------------*/
/*--all CSSs here is using the same from above Program #6 Add_Users.php------------------------------*/


/*-----------------------------------Program #8 Feedback_Management.php------------------------------*/
/*--all CSSs here is using the same from above Program #5 User_Management.php------------------------*/


/*-----------------------------------Program #11 Hint_*.php and SubMenu_*.php-------------------------*/
.Hint {
	position: fixed;
	left: 0;	 
	height:245px;						/*320*/
	width: 92.5%;						
	border:solid thin #C0C0C0; 	
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px; 	
 	-webkit-box-shadow:5px 10px 10px -5px rgba(0,0,0,0.4);  
  	-moz-box-shadow:5px 10px 10px -5px rgba(0,0,0,0.4);  
	box-shadow:5px 10px 10px -5px rgba(0,0,0,0.4);	
	
	font-family:Arial,sans-serif; 
	margin-top:5px; 
	padding:10px 5px 10px 5px; 
	overflow-x:hidden; 
	overflow-y:auto;
	background-color:#F7FEFD;
}

.Hint_Title {
	font-family:Arial,sans-serif; 
	height:32px; 
	background-color:#97FFB1; 
	color:#066; font-size:18px; 
	font-weight:600; 
	padding:3px; 
	padding-top:8px;
}

.SubMenu_Title {
	font-family:Arial,sans-serif; 
	height:32px; 
	background-color:blue; 
	color:#FFFFFF; 
	font-size:18px; 
	font-weight:600; 
	padding:3px; 
	padding-top:8px;
}

.Hint_Statements {
	font-family:Arial,sans-serif; 
	line-height:130%; 
	font-size:13px;
}

/*-----------------------------------Program #12 Myratrain_Info.php------------------------------------*/
.Info_Container {
	margin-left:-10px; /*-112px*/
	margin-top:90px; /*30px*/
	width:100%;
	align:center;
	font-family:Arial,sans-serif;  
	font-size:13px;  
}

.Info_Border {
	border:solid thin #C0C0C0; 	
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px; 
	
 	-webkit-box-shadow:5px 10px 10px -5px rgba(0,0,0,0.4);  
  	-moz-box-shadow:5px 10px 10px -5px rgba(0,0,0,0.4);  
	box-shadow:5px 10px 10px -5px rgba(0,0,0,0.4);	
	
	width:650px; 
	height:auto; 
	margin:0 auto; 
	padding: 32px 0px 0px 0px; 
	background-color: #F4FFFF;
}

.Info_DearUser {
	font-size:16px; 
	font-weight:600; 
	color:#069; 
	padding-left:3.5em; 
	margin-top:1em; 
	/*--float:left;*/ 
	margin-left:0.5em;
}

.Info_Line {
	color:#006699; 
	margin-left:3em; 
	margin-right:1em;	
	border:none;
	border-top:1px solid #9DDCE1;
	}
	
.Info_Table {
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:14px; 
	margin-left:2em; 
	line-height:24px; 
	margin-top:12px;
	align:center;
	width:95%;
	border:0px;
	cellspacing:0px;
	cellpadding:0px;
}

.Info_Image {
	width:64px;
	height:64px;
	border:0px;
	align:absmiddle;
}

.info_Statement {
	font-weight:600; 
	font-size:14px;
}

.Info_Foot1 {
	colspan:4;
}

.Info_Foot2 {
	colspan:4;
	line-height:24px;
}

.Info_Foot3 {
	colspan:4;
 	line-height:32px;
}

.Info_Foot4 {
 	line-height:32px;
	text-align:center; 
	padding-left:1em;
}

/**
 * CSS Slider
 * adapted from https://codepen.io/zuraizm/pen/vGDHl
**/
#slider {
  position: relative;
  overflow: hidden;
  margin: 0px auto 0 auto;
  margin-top:0px;
  border-radius: 4px;
  padding:0px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 600px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1400px;
  /*height: 600px;*/
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 1400px;
  font-size: 18px;
}

#slider ul li h3 {
  position: absolute;
  margin-top:30px;
  margin-left:30px;
  width: 500px;
  height: 120px;
  font-size: 45px;
  color: #ffffff;
  line-height: 60px;
  font-weight:normal;
  font-family:Arial, sans-serif;
  text-align:left;
}
#slider ul li h4 {
  position: absolute;
  margin-top: 425px;
  margin-left: 30px;
  width: 480px;
  height: 120px;
  font-size: 30px;
  color: #ffffff;
  line-height: 38px;
  font-weight:normal;
  font-family:Arial, sans-serif;
  text-align:left;
}